header {
    padding-top: 54px;
    padding-left: 100px;
    .container {
        padding: 0;
    }
}

.section {
    &-2 {
        padding-top: 60px;
    }
}

.title {
    &-1 {
        font-size: 45px;
        line-height: 75px;
        color: $colorFont;
        border-bottom: 4px solid $colorMain;
        display: inline-block;
    }
}