    .bg-fullpage {
        background: url(../../assets/img/bg1.jpg) center center / cover no-repeat;
        ;
        height: 100vh;
        padding-left: 100px;
    }
    
    .section-100 {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 19px;
        line-height: 55px;
        min-height: 65px;
        left: 0;
        top: 0;
        z-index: 9999;
        padding-left: 100px;
        &--box {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        a {
            color: white;
            margin: 0 15px;
            &:hover {
                text-decoration: none;
                color: $colorMain;
            }
        }
        button {
            span {
                display: block;
                color: white;
                margin-right: 10px;
                font-size: 27px;
                &:hover {
                    transition: all .3s ease-in-out;
                    color: $colorMain;
                }
            }
        }
    }
    
    body.fp-viewing-firstPage .section-100 {
        background-color: unset;
        padding-top: 60px;
        max-height: 55px;
    }
    
    body.fp-viewing-firstPage .section-left {
        background-color: unset;
    }
    
    .bg-cl {
        background-color: #031320;
        transition: all .3s ease-in-out;
        padding-top: 0;
    }
    
    .section {
        &-store,
        &-produce,
        &-community,
        &-nearyou,
        &-product {
            padding-left: 100px;
        }
    }
    
    .store-img {
        position: relative;
        &::before {
            content: '';
            background: #f8edd2;
            position: absolute;
            bottom: -100px;
            left: -80px;
            width: 200px;
            height: 300px;
            z-index: -1;
        }
        img {
            max-width: 400px;
            max-height: 627px;
        }
    }
    
    .store-box {
        margin-left: -170px;
        margin-top: 50px;
        padding-bottom: 25px;
        &--title {
            position: relative;
            padding-bottom: 20px;
            &::before {
                content: '';
                background: #cea31a;
                width: 310px;
                height: 9px;
                position: absolute;
                bottom: 0;
            }
        }
        &--content {
            margin: 50px 0;
            margin-left: 115px;
            color: #090640;
            text-align: justify;
            font-size: 15px !important;
        }
        &--seemore {
            display: flex;
            margin-left: 115px;
            font-size: 15px;
            color: #090640;
            align-items: center;
            &::before {
                content: '\f067';
                font-family: 'fontawesome';
                font-size: 1.75rem;
                padding-right: 25px;
            }
            &:hover {
                color: $colorMain;
                transition: all .3s;
                text-decoration: none;
            }
        }
    }
    
    .title {
        &-sub {
            color: #cea31a;
            font-size: 1rem;
            letter-spacing: 5px;
            text-transform: uppercase;
            font-weight: 900;
        }
        &-main {
            margin-left: 115px;
            text-transform: uppercase;
            color: #090640;
            font-size: 2.7rem;
            font-weight: 900;
            line-height: 1.3;
            &.lh15 {
                line-height: 1.5;
            }
        }
    }
    
    .produce-box .store-box--content {
        font-size: 1rem!important;
    }
    
    .produce-box-img {

        .produce-img {
            padding-top: 13%;
            padding-right: 13%;
            img {
                display: block;
            }
        }
    }
    
    .swiper-index:before {
        content: '';
        background: #f8edd2;
        position: absolute;
        top: 20px;
        left: -100px;
        width: 100px;
        height: 100px;
    }
    
    .swiper-index:after {
        content: '';
        background: #f8edd2;
        position: absolute;
        top: 0;
        right: 0;
        width: 200px;
        height: 220px;
    }
    
    .swiper-index.swiper-container,
    .swiper-product.swiper-container {
        overflow: unset!important;
    }
    
    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
        opacity: 1!important;
    }
    
    .swiper-index .swiper-button-prev {
        background-image: url(../../assets/img/index/bg-prev.png);
        position: absolute;
        left: -95px!important;
        top: 45%!important;
        width: 66px;
        font-size: 0;
        color: #090640;
        height: 34px;
        transform: translateY(-45%);
        &:hover {
            background-position: 0 -34px;
            transition: all .4s ease-in-out;
        }
    }
    
    .swiper-index .swiper-button-next {
        background-image: url(../../assets/img/index/bg-next.png);
        position: absolute;
        right: 0!important;
        top: 45%!important;
        width: 66px;
        height: 34px;
        font-size: 0;
        color: #090640;
        transform: translateY(-45%);
        &:hover {
            background-position: 0 -34px;
            transition: all .4s ease-in-out;
        }
    }
    
    .swiper-product {
        &::before {
            content: '';
            background: #f8edd2;
            position: absolute;
            top: 10px;
            left: -70px;
            width: 100px;
            height: 100px;
        }
        &::after {
            content: '';
            background: #f8edd2;
            position: absolute;
            top: 10px;
            right: -110px;
            width: 470px;
            height: 170px;
        }
    }
    
    .product-item {
        margin-left: 30px;
        margin-top: 30px;
        padding: 0;
        height: 380px;
        background-color: white;
    }
    
    .swiper-product .swiper-slide {
        width: 100%!important;
    }
    
    .swiper-btn-prev.swiper-button-prev {
        background-image: url(../../assets/img/index/bg-prev.png);
        position: absolute;
        left: 16%!important;
        top: 60%!important;
        width: 66px;
        font-size: 0;
        color: #090640;
        height: 34px;
        transform: translateY(-45%);
        &:hover {
            background-position: 0 -34px;
            transition: all .4s ease-in-out;
        }
    }
    
    .swiper-btn-next.swiper-button-next {
        background-image: url(../../assets/img/index/bg-next.png);
        position: absolute;
        right: 16%!important;
        top: 60%!important;
        width: 66px;
        height: 34px;
        font-size: 0;
        color: #090640;
        transform: translateY(-45%);
        &:hover {
            background-position: 0 -34px;
            transition: all .4s ease-in-out;
        }
    }
    
    .nearyou {
        &-box {
            position: absolute;
            bottom: -40px;
            left: 70px;
            background: #011321;
            width: 265px;
            padding: 15px 20px;
        }
        &-content {
            color: $colorMain;
            line-height: 1.5;
            font-size: 16px;
            text-align: left;
        }
    }

    .community-social {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        a {
            color: #090640;
            margin-right: 40px;
            &:hover {
                color: $colorMain;
                transition: all .2s;
            }
        }
        a i {
            font-size: 2.5rem;
        }
        p {
            font-size: 1.25rem;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: #090640;
            display: flex;
        }
    }

     .community-fancy .col , .no-distance >[class*='col-'] {
        padding-left: 0;
        padding-right: 10px;
    } 

    .no-distance {
        margin-right: 0!important;
        margin-left: 0!important;
    }

    @media only screen and (max-width: 1400px){
        .store-img img {
            max-width: 390px;
            max-height: 627px;
        }
        .produce-box-img .produce-img img {
            max-height: 415px;
        }
        .swiper-index:before {
            left: -35px;
        }
    }
    @media only screen and (max-width: 1200px) {
        .bg-fullpage {
            background-position: inherit;
        }

        .store-box {
            margin-left: 25px;
        }
        
        .title-main {
            margin-left: 65px;
        }

        .store-box {
            &--seemore,
            &--content {
                margin: 20px 0; 
                
            }
        }

        .swiper-index .swiper-button-next,
        .swiper-index .swiper-button-prev,
        .swiper-btn-next.swiper-button-next,
        .swiper-btn-prev.swiper-button-prev {
            display: none;
        }
        

        .product-item {
            max-height: 315px;
        }

        .swiper-index:before {
            left: -74px;
        }
    }

    @media only screen and (max-width: 1024px) {
       
        .title-main {
            font-size: 31px;
        }

        .store-box--title::before {
            left: 0;
        }

        .section-store [class*='col-'] {
            padding-left: 0!important;
        }

        .swiper-index:before {
            display: none;
        }

        .nearyou-box {
            width: 225px;
            left: 40px;
        }

        .product-item {
            height: 290px;
        }
        
    }

    @media only screen and (max-width: 768px) {
        .section {
            &-store,
            &-produce,
            &-community,
            &-nearyou,
            &-product {
                padding-left: unset;
            }
        }
        .mob-none {
            display: none;
        }

        .swiper-product  [class*='col-'] {
            padding-left: 0!important;
            padding-right: 0!important;
        }
    }

    @media only screen and (max-width: 480px) {
        .mob-none {
            display: none;
        }
    }