    .section {
        &-1 {
            position: fixed;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            background-color: $colorBody;
            align-items: center;
            font-size: 19px;
            line-height: 55px;
            min-height: 65px;
            left: 0;
            top: 0;
            z-index: 9999;
            padding-left: 100px;
            &--box {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
            a {
                color: white;
                margin: 0 15px;
                &:hover {
                    text-decoration: none;
                    color: $colorMain;
                }
            }
            button {
                span {
                    display: block;
                    color: white;
                    margin-right: 10px;
                    font-size: 27px;
                    &:hover {
                        transition: all .3s ease-in-out;
                        color: $colorMain;
                    }
                }
            }
        }
        &-left {
            position: fixed;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            max-width: 100px;
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            border-right: 1px solid $colorMain;
            background-color: $colorBody;
            z-index: 9999;
            transition: all .5s ease-in-out;
            &--logo {
                background-color: #cea31a;
                padding: 10px;
                margin-top: 65px;
                img {
                    max-height: 140px;
                }
            }
        }
        &-menu {
            margin-bottom: 80px;
            width: 55px;
            border-top: 1px solid #cea31a;
            border-bottom: 1px solid #cea31a;
            height: 20px;
            cursor: pointer;
            &::before {
                content: '';
                width: 35px;
                display: block;
                height: 1px;
                top: 50%;
                position: relative;
                background-color: $colorMain;
            }
            &:hover {
                width: 25%;
                transition: all .3s ease-in-out;
                &.section-menu::before {
                    width: 45px;
                }
            }
        }
        &__search {
            opacity: 0;
            transition: all .3s ease-out;
            .box__search {
                position: fixed;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                background-color: rgba(0, 0, 0, .9);
                width: 0;
                transition: all .3s ease-in-out;
                z-index: 9999;
                top: 0;
                left: 0;
                input {
                    padding-left: 30px;
                    width: 70%;
                    border-radius: 25px;
                }
                .icon-search {
                    margin-left: -50px;
                    padding: 5px;
                    display: flex;
                    transition: all .2s ease-in-out;
                    color: black;
                    font-size: 35px;
                    align-items: center;
                    &:hover {
                        color: $colorMain;
                    }
                }
            }
            .btn-close {
                position: absolute;
                right: 40px;
                color: white;
                top: 7px;
                z-index: 9999;
                font-size: 28px;
                text-transform: uppercase;
                font-weight: bold;
                &:hover {
                    color: #cea31a;
                    transition: all .3s;
                }
            }
        }
        &__navigation {
            height: 100vh;
            position: fixed;
            background-image: url("../../../assets/img/ttsk/bg-menu.png");
            top: 0;
            background-color: $colorBody;
            width: 0;
            z-index: 999;
            transition: all .5s ease-in-out;
            img {
                height: 100vh;
            }
        }
        &-back {
            color: $colorMain;
            font-size: 25px;
            display: none;
            margin-bottom: 80px;
            &:hover {
                transform: scale(1.3);
                transition: all .3s;
            }
        }
    }
    
    .active {
        &-2 {
            background-color: rgba(3, 19, 32, 0.9);
            margin-left: 380px;
            border-right: none;
            border-left: 1px solid $colorMain;
            .section-menu {
                display: none;
            }
        }
        &-3 {
            display: block;
            width: 380px;
            left: 0;
            z-index: 9999;
        }
        &-1 {
            opacity: 1!important;
            display: block!important;
        }
    }
    
    .active-2 .section-left--logo img {
        max-height: 160px;
    }
    
    .activing {
        color: white!important;
    }
    
    .navigation {
        &-box {
            position: absolute;
            display: none;
            top: 30%;
            color: white;
            margin-left: 60px;
            margin-right: 20px;
            a {
                color: #cea31a;
                text-transform: uppercase;
                margin-bottom: 15px;
                font-size: 22px;
                display: block;
                &:hover {
                    color: white;
                    text-decoration: none;
                }
            }
        }
        &-social {
            display: flex;
            bottom: -90px;
            font-size: 15px;
            border-top: 2px dashed $colorMain;
            margin-top: 30px;
            padding-top: 10px;
            a {
                color: white!important;
                display: flex;
            }
            .link__social {
                & :hover {
                    color: white;
                    display: flex;
                    background-color: $colorMain;
                }
                i {
                    font-size: 15px!important;
                }
            }
        }
    }
    
    @media only screen and (max-width: 768px) {
        .section__search .box__search input {
            width: 50%;
        }
    }