        .section {
            &-2 {
                padding-top: 80px;
                padding-left: 100px;
                margin-bottom: 25px;
            }
            &-3 {
                display: flex;
                justify-content: space-between;
                &--item {
                    max-width: 211px;
                    position: relative;
                    width: 100%;
                    margin: 5px;
                    img {
                        height: 190px;
                        object-fit: contain;
                    }
                }
            }
            &-4 {
                padding-left: 100px;
                background-color: #fff8e6;
                height: unset!important;
            }
        }
        
        .title {
            &-1 {
                font-size: 45px;
                line-height: 75px;
                color: $colorContent;
                border-bottom: 8px solid $colorMain;
                display: inline-block;
                font-weight: 700;
                margin-bottom: 20px;
            }
            &-3 {
                font-size: 30px;
                font-weight: bold;
                line-height: 60px;
                color: $colorMain;
            }
        }
        
        .content {
            &-1 {
                color: $colorContent;
                font-size: 16px;
                line-height: 28px;
            }
        }
        
        .p-7 {
            padding: 75px 0;
        }
        
        .my-80 {
            margin: 80px 0;
        }
        
        .shadow-fill {
            box-shadow: 0px 5px 14px rgba(241,241,241,0.9)
        }
        
        .section-body {
            padding-left: 100px;
        }
        
        .section2,
        .section1 {
            padding-left: 100px;
        }
        
        .section1 {
            padding-top: 115px;
        }
        
        .section2 {
            margin-top: 80px;
            margin-bottom: 60px;
        }
        
        .section1>.fp-tableCell,
        .section2>.fp-tableCell,
        .section3>.fp-tableCell,
        .section-4>.fp-tableCell {
            vertical-align: top;
        }
       
        .mb-30 {
            margin-bottom: 30px;
        }
        @media only screen and (max-width: 769px) {
            .section-1, .section-4 {
                padding-left: 0;
            }
            .section1,
            .section2,
            .section3 {
                margin-top: 0px;
                padding-left: 0px;
                padding-top: 80px;
            }
            .section2 img {
                text-align: center;
                max-height: 330px;
            }
            .section-4 {
                padding-top: 0;
            }
            .mob-reverse {
                flex-direction: column-reverse;
                padding: 0;
            }
            .row.flex-row-reverse {
                flex-direction: column-reverse!important;
                padding: 0!important;
            }
            .section {
                &-left {
                    max-width: 70px;
                }
                &-2 {
                    margin-bottom: 0;
                    padding-top: 40px;
                    text-align: center;
                }
                &-3 {
                    flex-wrap: wrap;
                    text-align: center;
                    justify-content: center;
                }
            }
            .content {
                &-1 {
                    padding: 0;
                }
            }
            .col-lg-6.col-md-12.col-sm-12 {
                padding: 10px 0 0!important;
            }
            .title {
                &-1 {
                    font-size: 30px;
                    text-align: center;
                    display: block;
                    border-bottom: 2px solid $colorMain;
                    margin-bottom: 0;
                }
            }

            .pt-3.mob-pt {
                padding-top: 0!important;
            }
            
            .my-80 {
                margin: 20px 0;
            }
            .section2.section-4 {
                margin-top: 20px;
            }
        }
        
@media only screen and (max-width: 480px) {
    .mob-font {
        font-size: 25px;
        &-2 {
            font-size: 22px;
        }
    }
    .row .pt-3{
        padding-top: 0!important;
    }
}