footer {
    padding-left: 100px;
    background-color: $colorBody;
    color: #f3f3f4;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    position: relative;
    background: url(../../assets/img/gioithieu/Layer26.png) repeat;
}

.section {
    &__5 {
        display: flex;
        max-width: 916px;
        width: 100%;
        padding: 0 0 185px;
        padding-bottom: 70px;
        
        &-form {
            display: flex;
            justify-content: space-between;
            margin-top: 23px;
            align-items: center;
            button {
                display: flex;
                align-items: center;
                span:first-child {
                    color: #f3f3f4;
                    font-size: 15px;
                    font-weight: bold;
                }
                span:last-child {
                    font-size: 27px;
                    color: $colorMain;
                    margin-left: 10px;
                }
                &:hover {
                    span {
                        color: $colorMain;
                        transition: all .3s ease-in-out;
                    }
                    span:last-child {
                        color: white;
                    }
                }
            }
        }
        &-content {
            max-width: 525px;
            width: 100%;
        }
        &-logo {
            margin-left: 20px;
        }
    }
    &__6 {
        display: flex;
        width: 100%;
        position: relative;
        padding-top: 100px;
    }
    &__7 {
        font-weight: normal;
        padding-top: 70px;
        border-top: 2px dashed $colorMain;
        margin-top: -70px;
        max-width: 916px;
        &-content {
            display: flex;
            flex-wrap: wrap;
            max-width: 916px;
            justify-content: space-between;
        }
        &-item p,
        &-item a {
            margin-bottom: 20px!important;
            display: block;
            color: #f3f3f4;
            &:hover {
                color: unset;
                text-decoration: none;
            }
        }
        &-item {
            margin-right: 5px;
        }
    }
    &__8 {
        padding: 130px 0 60px;
        display: flex;
        font-weight: normal;
        justify-content: flex-end;
    }
}

.form-email {
    max-width: 445px;
    >input {
        width: 100%;
        background-color: unset;
        border: unset;
        border-bottom: 1px solid $colorMain;
        padding: 0 10px;
        color: #f3f3f4;
    }
    label {
        margin: 0;
    }
}

.link {
    &__social {
        border: 1px solid white;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        color: #f3f3f4;
        margin-right: 15px;
        margin-top: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        &:hover {
            color: unset;
            text-decoration: none;
            border: none;
            background-color: $colorMain;
            transition: all .5s;
        }
        i {
            font-size: 18px;
        }
    }
}

@media only screen and (max-width: 1360px) {
    .section {
        &__5 {
            &-logo {
                position: relative;
                right: 0;
            }
        }
    }
}

@media only screen and (max-width: 1025px) {
    .section {
        &__5 {
            &-social {
                min-width: 177px;
                margin: 0 15px;
            }
        }
        &__7 {
            margin-top: -30px;
            &-item {
                min-width: 45%;
                text-align: center;
                
            }
            &-content {
                justify-content: space-around;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .section {
        &__5 {
            display: block;
            padding-bottom: 80px!important;
            padding-top: 30px;
            font-size: 13px;
            &-social {
                margin: 0;
                margin-top: 20px;
            }
            &-form {
                display: block;
            }
        }
        &__7 {
            &-item {
                width: 205px;
                margin-right: 10px;
            }
        }
        &__8 {
            padding: 50px 0;
        }
    }
}