* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus, *:hover,*:active {
    outline: none;
}
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$colorBody: #031320;
$colorMain: #cea31a;
$colorContent: #090640;
$colorBorder : rgba(207,
165,
42,
.5);
#body {
    font-family: 'Mulish', sans-serif;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: auto;
}

.container {
    max-width: 1230px!important;
    margin: 0;
    padding: 0!important;
}


button {
    background-color: unset;
    border: unset;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p,
.row {
    margin: 0!important;
}

@media only screen and (max-width: 1024px) {}